<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/login.css">
  <title>Register</title>
</head>

<body>
  <div class="app">
    <h1>Welcome To Chat Application</h1>
    <div class="auth-card">
      <H3>Login User</H3>
      <hr class="hr-card">

      <div class="input-card">
        <label for="">Email</label>
        <input type="text">
      </div>
      <div class="input-card">
        <label for="">Password</label>
        <input type="text">
      </div>
      <span class="acc-info">Forget Password ?</span>
      <button class="btn-login">Login Account</button>
    </div>
  </div>
</body>

</html>